<!DOCTYPE html>
<html>
  	<head>
  		<title>tyafhs</title>
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="description" content="" />
  		<meta name="keywords" content="" />
  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<script src="/js/jquery.min.js"></script>
  		<script src="/js/jquery.poptrox.min.js"></script>
  		<script src="/js/skel.min.js"></script>
  		<script src="/js/init.js"></script>
  		<noscript>
  			<link rel="stylesheet" href="/css/skel.css" />
  			<link rel="stylesheet" href="/css/style.css" />
  			<link rel="stylesheet" href="/css/style-xlarge.css" />
  		</noscript>
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>

	<body id="top">

      <header id="header">
          <a href="#" class="image avatar"><img src="/images/foto.jpg" alt="" /></a>
          <h1><strong>Hi I'm Fathiya Hasyifah Sibarani</strong>
<h2><strong>I'm part of Information System at State Islamic University of Sultan Syarif Kasim Riau</h2></strong>
<h3><a href="http://sif.uin-suska.ac.id">Information System</br></a></h3>
<h4><a href="http://uin-suska.ac.id">State Islamic University of Sultan Syarif Kasim Riau</br></a></h4>

      </header>

{{ content }}

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">

              {% if site.github_username %}
              <li>
                <a href="https://github.com/tyafhs" class="icon fa-github">
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}

              {% if site.twitter_username %}
              <li>
                <a href="https://twitter.com/tyafhs" class="icon fa-twitter">
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %}

              {% if site.facebook_username %}
              <li>
                <a href="https://www.facebook.com/fathiya.sibarani" class="icon fa-facebook">
                  <span class="label">Facebook</span>
                </a>
              </li>
              {% endif %}
              
        </footer>

	</body>
</html>
